[submodule "client/src/apps/3d"]
	path = client/src/apps/3d
	url = https://github.com/power-emma/two-stroke.git
[submodule "client/src/apps/orbit"]
	path = client/src/apps/orbit
	url = https://github.com/power-emma/os9-orbit.git
[submodule "client/src/apps/raycast"]
	path = client/src/apps/raycast
	url = https://github.com/power-emma/os9-raycast.git
[submodule "client/src/apps/plasma"]
	path = client/src/apps/plasma
	url = https://github.com/power-emma/os9-plasma.git
